body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
button{
    background-color: aqua;
    color:white;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: none;
    
}
div{
    background-color: blue;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}